<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>Welcome, {{ user.name }}!</p>
    <p>Email: {{ user.email }}</p>
    <p>Picture: <img src="{{ user.picture }}" alt="Profile Picture" width="100"></p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi natus hic laudantium distinctio quaerat eaque illum at eum, eveniet deserunt voluptatum in voluptas, tempore ipsum autem earum quis aspernatur labore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident natus, aut facilis omnis ipsum, rem iusto vel accusantium laborum ut cum et ratione molestias labore dignissimos debitis? Iste id odio magnam tenetur voluptas fugiat veritatis esse necessitatibus repellat molestias enim, praesentium eligendi cupiditate dignissimos obcaecati recusandae eius! Sunt fuga maiores quae, commodi earum tempora eveniet eius magnam assumenda debitis fugit similique corrupti ipsa sequi minus aliquid fugiat, eum molestias doloribus.</p>
  </body>
</html>
